<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ignapzs.apphonico"
    android:versionCode="4"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeABS" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPreferencesActivity"
            android:label="@string/menu"
            android:theme="@style/AppThemeABS" >
            <intent-filter>
                <action android:name="es.ignapzs.apphonico.MyPreferencesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Write_Email"
            android:theme="@style/AppThemeABS" >
            <intent-filter>
                <action android:name="es.ignapzs.apphonico.WRITE_EMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>